name: Rust Example

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - uses: icepuma/rust-action@master
        with:
          args: apt-get install libasound2-dev && cargo fmt -- --check && cargo clippy -- -Dwarnings && cargo test